@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 1px;
}

.purple-shadow {
  box-shadow: -7px 2px 400px 58px rgba(108, 12, 145, 0.58);
  -webkit-box-shadow: -7px 2px 400px 58px rgba(108, 12, 145, 0.58);
  -moz-box-shadow: -7px 2px 400px 58px rgba(108, 12, 145, 0.58);
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #e8917f, #b27bca, #986eea);
}

.paragraph-color {
  color: #a8a7a8;
}

.text-gradient {
  background: rgb(152, 110, 234);
  background: -moz-linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(184, 126, 194, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(184, 126, 194, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(184, 126, 194, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.button-text-gradient {
  background: rgb(232, 145, 127);
  background: -moz-linear-gradient(
    266deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(152, 110, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    266deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(152, 110, 234, 1) 100%
  );
  background: linear-gradient(
    266deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(152, 110, 234, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-circle-gradient {
  background: rgb(232, 145, 127);
  background: -moz-linear-gradient(
    180deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(232, 145, 127, 1) 0%,
    rgba(178, 123, 202, 1) 50%,
    rgba(150, 245, 235, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8917f",endColorstr="#96f5eb",GradientType=1);
}

.sidebar {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-purple-gradient {
  background: rgba(152, 110, 234, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.bg-faq-gradient {
  background: rgb(152, 110, 234);
  background: -moz-linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(152, 110, 234, 0.8309917717086834) 70%,
    rgba(150, 245, 235, 0.8001794467787114) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(152, 110, 234, 0.8309917717086834) 70%,
    rgba(150, 245, 235, 0.8001794467787114) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(152, 110, 234, 1) 0%,
    rgba(152, 110, 234, 0.8309917717086834) 70%,
    rgba(150, 245, 235, 0.8001794467787114) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#986eea",endColorstr="#96f5eb",GradientType=1);
}
